docker {
    enabled = true
}

process {
    withName:FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName:SPADES {
        container = 'biocontainers/spades:v3.13.0dfsg2-2-deb_cv1'
    }
    withName:QUAST {
        container = 'staphb/quast:latest'
    }
    withName:PROKKA {
        container = 'staphb/prokka:latest'
    }
    withName:ABRICATE {
        container = 'staphb/abricate:latest'
    }
}

workflow.onComplete = {    
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something when wrong"
}

params {
    indir = "${projectDir}/test_input/"
    outdir = "${projectDir}/test_output/"
    parse_csv = "${projectDir}/samples.csv"
    databases = ["ncbi", "refinder", "vfdb"]
    
    paths = [
        fastqc: { sid -> "${params.outdir}/fastqc/${sid}" },
        spades: { sid -> "${params.outdir}/spades/${sid}" },
        quast:  { sid -> "${params.outdir}/quast/${sid}" },
        prokka:  { sid -> "${params.outdir}/prokka/${sid}" },
        abricate:  { sid -> "${params.outdir}/abricate/${sid}" },
    ]
}

