docker {
    enabled = true
}

process {
    withName:FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName:SPADES {
        container = 'biocontainers/spades:v3.13.0dfsg2-2-deb_cv1'
    }
}

workflow.onComplete = {    
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something when wrong"
}

